@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Oxygen');

.Leaderboard {
    text-align: left;
    padding: 3px;
  }
  
  .Data {
    display: inline-block;
  }

  .Data2 {
    float: right;
    margin: 1.5%;
  }

  .backgroundLeaderboard { 
    background-color:rgb(214, 214, 214);
  }


.rankings{
  font-size: 1.2em;
  font-family: 'Fjalla One', sans-serif;}

  .footer { 
    padding-bottom: 40px;
    background-color: rgb(214, 214, 214);
  }

  .profilepic { 
    max-width: 100%;
    height: auto;
    margin-top: 10%;
  }

  .leaderboardNav { 
    background-color: white;
  }

  .dashboardButton { 
    float: right;
  }

  .mainFont { 
   color: #ace8d6; 
   font-Size: 40px; 
  font-family: 'Fjalla One' , 'sans-serif'; 
  }