@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Oxygen');

.App {
  text-align: center;
  background-color: white;
  margin-top: 6%;
}

.App2 {
  text-align: center;
  background-color: #f2f2f2;
  margin-top: 6%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.7em;
  font-family: 'Fjalla One', sans-serif;  
  margin-top: 10%;
  color: #929292;
}

.leaderboard-font{
  font-size: 1.2em;
  font-family: 'Fjalla One', sans-serif;}

.App-intro {
  font-size: large;
}

.login-box { 
  width: 40%;
  display: inline-block;
  font-family: 'Fjalla One', sans-serif;
  margin-top: 4%;
  padding-bottom: 30px;
  text-align:center;
  background-color: white;
}

#round { 
  border-radius: 50%;
}

.logo { 
  width: 35%;
  margin-top: 7%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.timer {
  height: 50%;
  width: 50%;
}

#loginButton { 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/*  NewUserForm.js css */
.login-box2 { 
  width: 43%;
  display: inline-block;
  font-family: 'Fjalla One', sans-serif;
  padding-bottom: 30px;
  text-align:center;
  background-color: white;
  margin-top: 10%;
}

.clock { 
  position: absolute;
}

.header { 
  background-color: white;
  margin-top: 8%;
}

.biglogin { 
  text-align: center;
}

.signupDiv { 
  display: inline-block;

.error-message{
  color: red;
}